<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{128,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>a_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,786},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,786},{128,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>d_pad_diagonal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{262,260}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{262,260}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>d_pad_horizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,264}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{264,264}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>d_pad_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,264},{258,258}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{258,258}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{260,260}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{260,260}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dpad_buttons-hd.png</string>
            <key>size</key>
            <string>{518,914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc152c72892157bd2e8f240d6297497a$</string>
            <key>textureFileName</key>
            <string>dpad_buttons-hd.png</string>
        </dict>
    </dict>
</plist>
