<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,145},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,33}}</string>
                <key>sourceSize</key>
                <string>{96,35}</string>
            </dict>
            <key>back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{96,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,35}}</string>
                <key>sourceSize</key>
                <string>{96,35}</string>
            </dict>
            <key>bar_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,5},{2,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,12}}</string>
                <key>sourceSize</key>
                <string>{2,12}</string>
            </dict>
            <key>bar_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,9},{1,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,12}}</string>
                <key>sourceSize</key>
                <string>{1,12}</string>
            </dict>
            <key>bar_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1},{2,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,12}}</string>
                <key>sourceSize</key>
                <string>{2,12}</string>
            </dict>
            <key>help_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{97,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,36}}</string>
                <key>sourceSize</key>
                <string>{99,38}</string>
            </dict>
            <key>help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{99,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{99,38}</string>
            </dict>
            <key>loading_bar_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,12},{1,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,18}}</string>
                <key>sourceSize</key>
                <string>{1,18}</string>
            </dict>
            <key>loading_bar_back_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,12},{2,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,18}}</string>
                <key>sourceSize</key>
                <string>{2,18}</string>
            </dict>
            <key>loading_bar_back_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,12},{2,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,18}}</string>
                <key>sourceSize</key>
                <string>{2,18}</string>
            </dict>
            <key>play_button_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,65},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,62}}</string>
                <key>sourceSize</key>
                <string>{119,64}</string>
            </dict>
            <key>play_deactived.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,62}}</string>
                <key>sourceSize</key>
                <string>{119,64}</string>
            </dict>
            <key>play_pressed_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{119,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,64}}</string>
                <key>sourceSize</key>
                <string>{119,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_menu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03aa99f008c2d35bf7e2bfee8c1b9d77$</string>
            <key>textureFileName</key>
            <string>main_menu.png</string>
        </dict>
    </dict>
</plist>
