<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{321,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{321,59}}</string>
                <key>sourceSize</key>
                <string>{325,61}</string>
            </dict>
            <key>continue_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,61}}</string>
                <key>sourceSize</key>
                <string>{325,61}</string>
            </dict>
            <key>dpad_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,351},{195,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,73}}</string>
                <key>sourceSize</key>
                <string>{195,73}</string>
            </dict>
            <key>dpad_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,276},{195,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,73}}</string>
                <key>sourceSize</key>
                <string>{195,73}</string>
            </dict>
            <key>hit_zones_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,201},{287,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,73}}</string>
                <key>sourceSize</key>
                <string>{287,73}</string>
            </dict>
            <key>hit_zones_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{287,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,73}}</string>
                <key>sourceSize</key>
                <string>{287,73}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,276},{226,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,73}}</string>
                <key>sourceSize</key>
                <string>{226,73}</string>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,276},{226,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,73}}</string>
                <key>sourceSize</key>
                <string>{226,73}</string>
            </dict>
            <key>pro_swipe_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,201},{313,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,73}}</string>
                <key>sourceSize</key>
                <string>{313,73}</string>
            </dict>
            <key>pro_swipe_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{313,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,73}}</string>
                <key>sourceSize</key>
                <string>{313,73}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,71},{140,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,65}}</string>
                <key>sourceSize</key>
                <string>{144,67}</string>
            </dict>
            <key>quit_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{144,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,67}}</string>
                <key>sourceSize</key>
                <string>{144,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause_screen-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cabe166febe634032c62cc0f8371922$</string>
            <key>textureFileName</key>
            <string>pause_screen-hd.png</string>
        </dict>
    </dict>
</plist>
