<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>b_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dpad_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>dpad_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,140},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>dpad_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>prone_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,78}}</string>
                <key>sourceSize</key>
                <string>{32,78}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>controls.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f28d65ebd3e3ff657ba0fe9753c8b40$</string>
            <key>textureFileName</key>
            <string>controls.png</string>
        </dict>
    </dict>
</plist>
