<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FatBarBGLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{8,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{8,30}}</string>
                <key>sourceSize</key>
                <string>{8,34}</string>
            </dict>
            <key>FatBarBGMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,22},{2,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,34}}</string>
                <key>sourceSize</key>
                <string>{2,34}</string>
            </dict>
            <key>FatBarBGRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,28},{8,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{8,30}}</string>
                <key>sourceSize</key>
                <string>{8,34}</string>
            </dict>
            <key>FatBarLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,52},{4,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{4,24}}</string>
                <key>sourceSize</key>
                <string>{4,28}</string>
            </dict>
            <key>FatBarMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,48},{2,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,28}}</string>
                <key>sourceSize</key>
                <string>{2,28}</string>
            </dict>
            <key>FatBarRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,28},{4,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{4,24}}</string>
                <key>sourceSize</key>
                <string>{4,28}</string>
            </dict>
            <key>GunIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{96,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ThinBarBGLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,12},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>ThinBarBGMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,30},{2,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,24}}</string>
                <key>sourceSize</key>
                <string>{2,24}</string>
            </dict>
            <key>ThinBarBGRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>ThinBarLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,36},{4,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{4,14}}</string>
                <key>sourceSize</key>
                <string>{4,18}</string>
            </dict>
            <key>ThinBarMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,22},{2,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,18}}</string>
                <key>sourceSize</key>
                <string>{2,18}</string>
            </dict>
            <key>ThinBarRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,30},{4,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{4,14}}</string>
                <key>sourceSize</key>
                <string>{4,18}</string>
            </dict>
            <key>enemybarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>enemybarfront_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,26},{2,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,18}}</string>
                <key>sourceSize</key>
                <string>{2,18}</string>
            </dict>
            <key>enemybarfront_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,48},{4,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{4,14}}</string>
                <key>sourceSize</key>
                <string>{4,18}</string>
            </dict>
            <key>enemybarfront_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,42},{4,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{4,14}}</string>
                <key>sourceSize</key>
                <string>{4,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud_spritesheet-hd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83b5a1767144cce5e793eac0cbbf7a93$</string>
            <key>textureFileName</key>
            <string>hud_spritesheet-hd.png</string>
        </dict>
    </dict>
</plist>
