<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FatBarBGLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,36},{4,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,15}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>FatBarBGMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,53},{1,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,17}}</string>
                <key>sourceSize</key>
                <string>{1,17}</string>
            </dict>
            <key>FatBarBGRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,36},{4,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,15}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>FatBarLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,50},{2,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{2,12}}</string>
                <key>sourceSize</key>
                <string>{2,14}</string>
            </dict>
            <key>FatBarMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,50},{1,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,14}}</string>
                <key>sourceSize</key>
                <string>{1,14}</string>
            </dict>
            <key>FatBarRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{2,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{2,12}}</string>
                <key>sourceSize</key>
                <string>{2,14}</string>
            </dict>
            <key>GunIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{48,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ThinBarBGLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,24},{4,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,10}}</string>
                <key>sourceSize</key>
                <string>{4,12}</string>
            </dict>
            <key>ThinBarBGMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,50},{1,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,12}}</string>
                <key>sourceSize</key>
                <string>{1,12}</string>
            </dict>
            <key>ThinBarBGRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,18},{4,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,10}}</string>
                <key>sourceSize</key>
                <string>{4,12}</string>
            </dict>
            <key>ThinBarLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,6},{2,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{2,7}}</string>
                <key>sourceSize</key>
                <string>{2,9}</string>
            </dict>
            <key>ThinBarMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,30},{1,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,9}}</string>
                <key>sourceSize</key>
                <string>{1,9}</string>
            </dict>
            <key>ThinBarRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{2,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{2,7}}</string>
                <key>sourceSize</key>
                <string>{2,9}</string>
            </dict>
            <key>enemybarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,12}}</string>
                <key>sourceSize</key>
                <string>{50,12}</string>
            </dict>
            <key>enemybarfront_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,33},{1,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,9}}</string>
                <key>sourceSize</key>
                <string>{1,9}</string>
            </dict>
            <key>enemybarfront_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,14},{2,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{2,7}}</string>
                <key>sourceSize</key>
                <string>{2,9}</string>
            </dict>
            <key>enemybarfront_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,10},{2,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{2,7}}</string>
                <key>sourceSize</key>
                <string>{2,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud_spritesheet.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bf62a968b81c7dd47983134537b4b5f$</string>
            <key>textureFileName</key>
            <string>hud_spritesheet.png</string>
        </dict>
    </dict>
</plist>
