<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>dislike-button-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,129},{141,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,43}}</string>
                <key>sourceSize</key>
                <string>{141,43}</string>
            </dict>
            <key>dislike-button-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{141,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,43}}</string>
                <key>sourceSize</key>
                <string>{141,43}</string>
            </dict>
            <key>dot-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,11},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>dot-unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>like-button-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,43},{142,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,43}}</string>
                <key>sourceSize</key>
                <string>{142,43}</string>
            </dict>
            <key>like-button-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,43}}</string>
                <key>sourceSize</key>
                <string>{142,43}</string>
            </dict>
            <key>play-button-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{299,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,73}}</string>
                <key>sourceSize</key>
                <string>{299,73}</string>
            </dict>
            <key>play-button-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{299,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,73}}</string>
                <key>sourceSize</key>
                <string>{299,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_detail.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98e5a87e4bbe09d581029f025f9a1aa7$</string>
            <key>textureFileName</key>
            <string>game_detail.png</string>
        </dict>
    </dict>
</plist>
