<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,461},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>dislike-button-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,90},{86,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>dislike-button-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>like-button-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{86,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>like-button-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,303},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>play-button-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{299,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{299,66}}</string>
                <key>sourceSize</key>
                <string>{299,70}</string>
            </dict>
            <key>play-button-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,70}}</string>
                <key>sourceSize</key>
                <string>{299,70}</string>
            </dict>
            <key>remix-button-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,391},{86,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>remix-button-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_detail.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59462ce5d46376a99cb0dcf47d97d78a$</string>
            <key>textureFileName</key>
            <string>game_detail.png</string>
        </dict>
    </dict>
</plist>
